/**Colors**/
$orange: #F05F40;
$dark-orange: #e0573c;
$black:#000;
$white: #fff;
$off-white:#efefef;
$dark-gray:#ccc;
$link-gray:#888;
$body-gray:#666;

/**Fonts**/
$heading-font: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font: "Merriweather", "Time New Romans", serif;

/**Layout**/
$full: no-repeat center center;