@import "vars";
@import "base";
@import "font-awesome/font-awesome";

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  float:left;
  text-transform: uppercase;
}

.nav-list{
  float:right;
}

.nav-links{
  display: inline-block;
  margin: 0 16px;
}

.main-nav{
  position: fixed;
  padding: 25px 14px 0;
  border-bottom: 1px solid $link-gray;
  text-transform: uppercase;
  font: 700 14px/26px $heading-font; 

     a {
      color: $off-white;

     &:hover {
      color: $white;
    }
  }
}

.white-nav {
  background-color: $white;
  border-bottom: none;
  transition: all 0.5s ease-in-out;
  a{
    color: $black;

    &:hover {color: $orange;}
    &.logo {color: $orange;}
    h5{font-size: 16px;}
  }
}

body{
  color:$body-gray;
  font: 400 16px/22px $base-font;
  text-align:center;
}

.overlay{
  background-color: #ccc;
  background: url(../img/stars.jpg) $full fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero {
  height:100vh;
  padding: 0 80px 110px 80px;
  padding-top: 20vh;
 
 p {
  color:$off-white;
  margin-bottom: 0;
  }
}

.hero-btn{
  color:$white;
  background-color:$orange;

  &:hover {
    background-color:$dark-orange;
  }
}

.shortline {
  border: none;
  height: 3px;
  color:$orange;
  background-color:$orange;
  width: 50px;
  margin-top:25px;
  margin-bottom: 25px;
}

.shortline-alt{
  color:$white;
  background-color:$white;
}

.about{
  background: $orange $full;
  color: $off-white;

  h2 {
    color: $white;
  }
}

.portfolio-b {
  background-color:$black;
  margin-top: -5px;

  h2 {
    color:$white;
  }
}

.portfolio-img{
  width:33.33%;
  height: 50vh;
  margin-top:-5px;
  overflow: hidden;
}

.contact {
  .row {
    width:720px;
    margin: 0 auto;
    padding-bottom:35px;
  
  .fa {
    color: $body-gray;
    transition: display 0.2s ease-in;
  }
}

  a:hover{
    text-decoration-line: underline;
  }
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(.1, .1);
    transform: scale(.1, .1);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(.1, .1);
    transform: scale3d(.1, .1);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

#get-started-btn, #download-btn{
  opacity: 0;
}