@import "vars";
@import "base";
@import "font-awesome/font-awesome";

/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  float:left;
  text-transform: uppercase;
}

.nav-list{
  float:right;
}

.nav-links{
  display: inline-block;
  margin: 0 16px;
}

.main-nav{
  position: fixed;
  padding: 20px 14px 0;
  border-bottom: 1px solid $body-gray;
  text-transform: uppercase;
  font: 700 14px/26px $heading-font; 
  z-index:10;

     a {
      color: $off-white;

     &:hover {
      color: $white;
    }
  }
}

.white-nav {
  background-color: $white;
  transition: all 0.5s ease-in-out;
  border-bottom:none;
  a{
    color: $black;

    &:hover {color: $orange;}
    &.logo {color: $orange;}
    h5{font-size: 16px;}
  }
}

.toggle-nav{
  display: none;
  float:right;
  pointer:cursor;
}

.active a{
  color: $orange;
}

/*
  ========================================
  Body
  ========================================
*/

body{
  color:$body-gray;
  font: 400 16px/22px $base-font;
  text-align:center;
}

.overlay{
  background-color: #ccc;
  background: url(../img/stars.jpg) $full fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero {
  height:100vh;
  padding: 0 80px 110px 80px;
  padding-top: 20vh;
 
 p {
  color:$off-white;
  margin-bottom: 0;
  }
}

.hero-btn{
  color:$white;
  background-color:$orange;

  &:hover {
    background-color:$dark-orange;
  }
}

.shortline {
  border: none;
  height: 3px;
  color:$orange;
  background-color:$orange;
  width: 50px;
  margin-top:25px;
  margin-bottom: 25px;
}

.shortline-alt{
  color:$white;
  background-color:$white;
}

.about{
  background: $orange $full;
  color: $off-white;

  h2 {
    color: $white;
  }
}

.svc-info{
  width: 25%;

  @media all and (min-width:992px) and (max-width:1199px){
    width:50%;
    padding-top: 25px;
  }

  @media all and (max-width: 991px){
    width:100%;
    padding-top:35px;
  }

}
.portfolio-a{
  width:100%;
}

.portfolio-b {
  background-color:$black;
  margin-top: -5px;

  h2 {
    color:$white;
  }
}

.img-box{
  position:relative;
  display: inline-block;
  margin: 0 auto;
  margin-top:-5px;
  width:33.33%;
  overflow: hidden;

  @media all and (min-width:768px) and (max-width:1199px){
    width: 50%;
  }
  
  @media all and (max-width: 767px){
    width:65%;
  }
}

.portfolio-img{
  display: block;
  max-width: 100%;
  height: auto;
  opacity: 1;
  overflow: hidden;
  transition: .5s ease;

  &:hover{
    opacity: 0.3;
  }
}

.img-text{
  transition: .5s ease;
  background-color:$orange;
  color: $white;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding-top:20%;

  &:hover{
    opacity: 1;
  }
}

.contact {

  .row {
    width:720px;
    margin: 0 auto;
    padding-bottom:35px;
  
  .fa {
    color: $body-gray;
    transition: display 0.2s ease-in;
  }
}

  a:hover{
    text-decoration-line: underline;
  }

}

.contact-info{
  width:50%;

  @media all and (max-width: 767px){
    width:100%;
    padding-bottom:15px;
  }

}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(.1, .1);
    transform: scale(.1, .1);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale(.1, .1);
    transform: scale3d(.1, .1);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

#get-started-btn, #download-btn{
  opacity: 0;
}

@for $fai from 1 through 4{
  .fai-#{$fai}{
  -webkit-animation-delay: ($fai/8) + s;
  animation-delay: ($fai/8) + s;
 }
}
/* ============
Media queries
===============*/

@media all and (max-width: 765px) {
  
  .nav-list {
   display: block;
   max-height:0;
   overflow: hidden;
   float:none;
   clear:left;
   transition: all 0.5s ease;

   li{
      display: block;
      text-align: left;
      padding-bottom: 20px;
      
      &:first-child{
        padding-top:20px;  
      }
    }
  }

  .main-nav{
    position: fixed;
    padding: 20px 14px 0;
    border-bottom:none;
    text-transform: uppercase;
    font: 700 14px/26px $heading-font; 
    z-index:10;
    background-color: $white;
    transition: all 0.5s ease-in-out;

  a{
    color: $black;

    &:hover {color: $orange;}
    &.logo {color: $orange;}
    h5{font-size: 16px;}
  }
}

  .toggle-btn {
    text-transform: uppercase;
    display:inline-block;
    color: $black;
    float:right;
    border: 1px solid $dark-gray;
    border-radius:5px;
    padding:2px 5px;
    margin-top: -5px;

    &:hover{
      background-color:$off-white;
      pointer:cursor;
    }

    i {
      opacity: 1;
      color: $black;
      margin-bottom: 0;
      margin-left: 2px;
    }
  }  

  .toggle-nav{

    &:checked ~ .nav-list {
      border-top: 1px solid $off-white;
      display: block;
      max-height: 500px;
      overflow: hidden;

    }
  }

}